@model List<RoomModel>

@{	
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli v hotel hladilnik</h1>
</div>
<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Seznam sob</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Reservation" asp-action="Create" class="btn btn-primary">
				Rezerviraj zdaj!
			</a>
		</div>
	</div>
</div>

<table class="table table-bordered table-striped">
	<thead>


		<tr>
			<th>
				Ime sobe
			</th>
			<th>
				Cena na noč
			</th>
			<th>
				Kratek opis sobe
			</th>
			<th>
				Dalši opis sobe
			</th>
			<th>
				Slika sobe
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var o in Model)
		{
			<tr>
				<td>
					@o.Name
				</td>
				<td>
					@o.Cena
				</td>
				<td>
					@o.ShortDescription
				</td>
				<td>
					@o.LongDescription
				</td>
				<td>
					<img src="@o.ImageURL" width="100%" />
				</td>
			</tr>
		}

	</tbody>
</table>