@model List<RoomModel>


<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Seznam sob</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Room" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i>Dodaj novo sobo
			</a>
		</div>
	</div>
</div>
<table class="table table-bordered table-striped">
	<thead>


		<tr>
			<th>
				Ime sobe
			</th>
			<th>
				Cena na noč
			</th>
			<th>
				Kratek opis sobe
			</th>
			<th>
				Dalši opis sobe
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var o in Model)
		{
			<tr>
				<td>
					@o.Name
				</td>
				<td>
					@o.Cena
				</td>
				<td>
					@o.ShortDescription
				</td>
				<td>
					@o.LongDescription
				</td>
				<td>
					<div class="w-75 btn-group" role="group">
						<a asp-controller="Room" asp-action="Edit" asp-route-id="@o.RoomID" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i> Edit
						</a>
						<a asp-controller="Room" asp-action="Delete" asp-route-id="@o.RoomID" class="btn btn-danger mx-2">
							<i class="bi bi-trash-fill"></i> Delete
						</a>
					</div>
				</td>
			</tr>
		}

	</tbody>
</table>